.creator-editor-data {
	font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .0025em;
    overflow: visible;
    white-space: normal;
}
